anyio==4.1.0  # not latest
hrequests[all]==0.8.2  # not latest
httpx[http2,socks]==0.25.2  # not latest
beautifulsoup4
boto3
gevent
goose3
greenlet
intervaltree
newspaper3k
pypdf
python-magic
pytz
requests
undetected_chromedriver
urllib3
Wand
PyYAML
playwright
playwright-stealth
undetected_chromedriver
