<!doctype html>

    <html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Timbo’s Hacker News Reader</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="https://www.texastim.dev">
        <meta property="og:title" content="Timbo’s “Hacker News” Reader">
        <meta property="og:site_name" content="Timbo’s “Hacker News” Reader">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ canonical_url }}">
        <meta property="og:image" content="">

        <meta property="og:description" content="a 3rd-party interface to the Hacker News stories">
        <meta name="description" content="a 3rd-party interface to the Hacker News stories">

        <meta property="og:locale" content="en_US" />

        <meta name="apple-mobile-web-app-title" content="Timbo’s Hacker News Reader">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico">

        <link rel="stylesheet" href="{{ static_css_url }}">

    </head>

    <body>

        <div class="about-link"><a href="{{ about_url }}">❓</a></div>

        <div class="banner">
            <p><a href="{{ header_hyperlink }}">Timbo’s “Hacker News” Reader</a><br/>
            {{ short_url_display }}</p>
        </div>
        <div id="stories-channel">
            {{ stories }}
        </div>
    </body>
    </html>